# File: requirements.txt

# Core Data Handling
pandas
numpy

# HTML Parsing & Scraping
beautifulsoup4
lxml
requests

# NLP & Feature Engineering
nltk
textstat
scikit-learn
sentence-transformers

# Model saving
joblib

# Streamlit
streamlit

# Utilities
tqdm==4.66.1